EDPHeaven/Connected Services/MyDBServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EDPWcf" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/EDPWcf.Entity" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EDPWcf" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EDPWcf" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignUpResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SignUpResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="host" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateRoomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateRoomResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JRoomID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="JRoomPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateRoomID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateRoomIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateRoomIDResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Room_Password">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RoomID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get_Room_PasswordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Get_Room_PasswordResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outletId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetItemsResult" nillable="true" type="q3:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutletName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outletId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutletNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOutletNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutletDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outletId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutletDescResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOutletDescResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutlets">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutletsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EDPWcf.Entity" minOccurs="0" name="GetOutletsResult" nillable="true" type="q4:ArrayOfOutlet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contactNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="deliverAdd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="secNum" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cardExp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ki" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="iv" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateOrderResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outletId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EDPWcf.Entity" minOccurs="0" name="GetItemListResult" nillable="true" type="q5:ArrayOfOutletItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="outletId" type="xs:int" />
        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemPrice" type="xs:double" />
        <xs:element minOccurs="0" name="itemDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isRecommend" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMenuItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddMenuItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="SelectItemResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ItemId" type="xs:int" />
        <xs:element minOccurs="0" name="itemName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="itemPrice" type="xs:double" />
        <xs:element minOccurs="0" name="itemDesc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isRecommend" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateItemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>